<ion-header>
  <ion-navbar color="tabs">
    <ion-title>Eventos</ion-title>
  </ion-navbar>
</ion-header>



    <ion-content padding>
        <ion-refresher (ionRefresh)= "doRefresh($event)">
            <ion-refresher-content refreshingText="Actualizando..."></ion-refresher-content>
        </ion-refresher>
        <ion-card  *ngFor="let event of allEvents">
            <button ion-item (click)="irDetalleEvento(event)">
                <ion-card-content>
                    <ion-card-title>
                        {{event.events_type.name}}
                    </ion-card-title>
                    <p>
                        <ion-item *ngIf="event.eventoPara == 'Evento de Curso'">
                            <strong>{{event.course_instance_has_events[0].course_instance.course.code}} {{event.course_instance_has_events[0].course_instance.course.name}}</strong>
                        </ion-item>

                        <ion-item *ngIf="event.eventoPara == 'Evento de Estudiante'">
                            <strong>{{this.event.users_has_events[0].description}}</strong>
                        </ion-item>


                        Publicado por: {{event.events_type.category.name}} <br>
                        Envio: {{event.created_at}} <br> {{event.priority.name}}

                    </p>
                </ion-card-content>
            </button>
        </ion-card>
    </ion-content>








