<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tabs">

    <ion-title>Ingresar</ion-title>
  </ion-navbar>

</ion-header>

  <ion-content padding justify-content-end="">

    <ion-grid justify-content-center>
            <ion-list >

              <ion-item>
                <ion-input placeholder="Correo" type="text" [(ngModel)]="userAuth.email"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input placeholder="Contraseña" type="password" [(ngModel)]="userAuth.password"></ion-input>
              </ion-item>
            </ion-list>

      <a text-center (click)="restaurarPass()">¿Olvidaste tu Contraseña?</a>

      <div ion-row>
        <div col-6>
          <button ion-button item-start (click)="login()">Ingresar</button>
        </div>
        <div col-6>
          <button ion-button item-end (click)="irRegistrar()">Registrar</button>
        </div>
      </div>

    </ion-grid>
  </ion-content>

