<ion-header>
  <ion-navbar color="tabs">
    <ion-title>
      Registrar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Datos de Estudiante</ion-list-header>
  </ion-list>

    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="userData.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="userData.last_name" name="last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" [(ngModel)]="userData.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono</ion-label>
      <ion-input type="text" [(ngModel)]="userData.phone" name="phone"></ion-input>
    </ion-item>
    <div>
      <button ion-button item-start (click)="registerForm()">Registrar</button>
    </div>

</ion-content>
