<ion-tabs color="tabs">
  <ion-tab [root]="tab1Root" tabTitle="Eventos" tabIcon="md-information-circle"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Curso" tabIcon="md-school"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Perfil" tabIcon="md-person"></ion-tab>
</ion-tabs>
