<ion-header>
  <ion-navbar color="tabs">
    <ion-title>
      Mis Datos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)= "doRefresh($event)">
    <ion-refresher-content refreshingText="Actualizando..."></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>Datos de Estudiante</ion-list-header>
  </ion-list>

  <form >
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="userData.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input type="text" [(ngModel)]="userData.last_name" name="last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" [(ngModel)]="userData.email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Teléfono</ion-label>
      <ion-input type="text" [(ngModel)]="userData.phone" name="phone"></ion-input>
    </ion-item>
    <div>
      <button ion-button (click)="editarPerfil()">Editar</button>
    </div>
  </form>

  <button ion-button (click)="cerrarSesion()">Cerrar Sesión</button>
</ion-content>
