<ion-header>
  <ion-navbar color="tabs">
    <ion-title>
      Cursos
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)= "doRefresh($event)">
    <ion-refresher-content refreshingText="Actualizando..."></ion-refresher-content>
  </ion-refresher>

<form>
  <ion-list-header>Mis Cursos</ion-list-header>
  <button ion-button item-start (click)="guardar()">Actualizar Cursos</button>

  <ion-item *ngFor="let courseStudent of cursosItem" >
    <ion-label>{{courseStudent.name}}</ion-label>
      <ion-checkbox (ionChange)="actualizar($event, courseStudent.value)" checked={{courseStudent.selected}} disabled="{{courseStudent.disabled}}"></ion-checkbox>
  </ion-item>
</form>



</ion-content>
