<ion-header>
  <ion-navbar color="tabs">
    <ion-title>
      Cambiar Constraseña
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header></ion-list-header>
  </ion-list>

  <ion-item>
    <ion-label>Contraseña Actual</ion-label>
    <ion-input type="password"  [(ngModel)]="newPass.password" name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nueva Contraseña</ion-label>
    <ion-input type="password"  [(ngModel)]="newPass.newPassword" name="last_name"></ion-input>
  </ion-item>

  <div>
    <button ion-button item-start (click)="cambiarPass()">Cambiar Contraseña</button>
  </div>
</ion-content>
