<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tabs">
    <ion-title>Restaurar Contraseña</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-input placeholder="Ingrese su Correo" type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <br>
  <br>
  <button ion-button align-items-center (click)="restaurarPass(email)">Restaurar Contraseña</button>

</ion-content>
