<!--
  Generated template for the DetalleEventoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="tabs">
    <ion-title>Detalle De Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
      <ion-card-content>
        <ion-card-title>
          <ion-label>{{event.events_type.name}}</ion-label>

        </ion-card-title>
          <ion-item *ngIf="event.eventoPara == 'Evento de Curso'">
              {{event.course_instance_has_events[0].course_instance.course.code}} {{event.course_instance_has_events[0].course_instance.course.name}}
          </ion-item>
          <ion-label>Fecha de Evento: {{event.event_date}}</ion-label>
          <ion-label>Evento Publicado Por: {{event.events_type.category.name}}</ion-label>
          <ion-label>Fecha publicacion: {{event.created_at}}</ion-label>

          <p>
            <strong>{{description}}</strong>



          </p>
      </ion-card-content>
  </ion-card>
</ion-content>



